.App {
  text-align: center;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 70% auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "header header"
    "main sidebar"
}

.App-main {
  grid-area: main;
  height: 100%;
  border: 1px solid #2d2b2b;
  min-height: 80vw;
}

.App-content {
  grid-area: sidebar;
  min-height: 80vw;
}


.App-header {
  background-color: #184fbd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 90vw;
}
